.text-field{
    -fx-background-color: #131313;
    -fx-text-inner-color: white;
    -fx-border-color: #727272;
    -fx-border-width: 0 0 3 0;
}
.text-field:focused{
    -fx-border-color: linear-gradient(from 51.4286% 38.5714% to 51.4286% 68.0952%, #975bf2 0.0%,#2549ff 100.0%);
}